################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BSJobUtility/v15
/PayByScanLoad711/obj/Debug/PayByScanLoad711.csprojAssemblyReference.cache
/ManifestFreeLoad/obj/Debug/ManifestFreeLoad.csprojAssemblyReference.cache
/DMMail/obj/Debug/DMMail.csprojAssemblyReference.cache
