<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BSJobUtilitySection" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ParkingPayroll" type="System.Configuration.NameValueSectionHandler"/>
    <section name="PBSMacroLoad" type="System.Configuration.NameValueSectionHandler"/>
    <section name="CommissionsCreate" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="eventlogs" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=SQLJobLogs; user id=SQLJobLogs; password=$$qLj0bL0g$;Connect Timeout=30;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="parking" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Parking; user id=ParkingPayroll; password=fr0mPayr0ll;Connect Timeout=30;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="sbsreports" connectionString="Data Source=Omaha\BSSQLPAY1; Initial Catalog=SBSReports; user id=ParkingPayroll; password=fr0mPayr0ll;Connect Timeout=30;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="pbs2macro" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PBS2Macro; user id=PBS2MacroLoad; password=macrofiche;Connect Timeout=30;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="commissions" connectionString="Data Source=BWDB\BW; Initial Catalog=Commissions; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=30;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="buffnewsforbw" connectionString="Data Source=BWDB\BW; Initial Catalog=BuffNewsForBW; user id=PBS2MacroLoad; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=30;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="brainworks" connectionString="Data Source=BWDB\BW; Initial Catalog=Brainworks; user id=PBS2MacroLoad; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=30;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="commissionsrelated" connectionString="Data Source=BWDB\BW; Initial Catalog=CommissionsRelated; user id=PBS2MacroLoad; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=30;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="barc" connectionString="Data Source=BWDB\BW; Initial Catalog=BARC; user id=PBS2MacroLoad; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=30;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <BSJobUtilitySection>
    <add key="UseTLS" value="x"/>
    <add key="MailHost" value="smtp.gmail.com"/>
    <add key="MailPort" value="587"/>
    <add key="MailUser" value="gregory.sipes@gmail.com"/>
    <add key="MailPassword" value="***"/>
    <add key="DefaultSender" value="gregory.sipes@gmail.com"/>
    <add key="DefaultRecipient" value="gsipes@pcatg.com"/>
    <add key="DefaultSQLCommandTimeout" value="500"/>
    <add key="FtpSftpServerResponseTimeoutInSeconds" value="30"/>
  </BSJobUtilitySection>
  <ParkingPayroll> 
    <add key="RemoteServerInstance" value="Omaha\BSSQLPAY1" />
    <add key="RemoteDatabaseName" value="SBSReports" />
    <add key="RemoteUserName" value="ParkingPayroll" />
    <add key="RemotePassword" value="fr0mPayr0ll" />
  </ParkingPayroll>
  <PBSMacroLoad>
    <add key="SourceDirectory" value="\\circ\spoolcmro\" />
    <add key="DestinationDirectory" value="\\Synergy\SERops\To Be Loaded\PBS ASCII\" />
  </PBSMacroLoad>
  <CommissionsCreate>
    <add key="AttachmentDirectory" value="\\Omaha\Commissions$" />
    <add key="CommissionsRelatedServerName" value="BWDB\BW" />
    <add key="CommissionsRelatedDatabaseName" value="CommissionsRelated" />
    <add key="CommissionsRelatedUserName" value="CommissionsCreate" />
    <add key="CommissionsRelatedPassword" value="&lt;Cr#@t0rUs3r&gt;" />
    <add key="BrainworksServerName" value="BWDB\BW" />
    <add key="BrainworksDatabaseName" value="Brainworks" />
    <add key="BuffNewsForBWServerName" value="BWDB\BW" />
    <add key="BuffNewsForBWDatabaseName" value="Brainworks" />
  </CommissionsCreate>
</configuration>
