<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BSJobUtilitySection" type="System.Configuration.NameValueSectionHandler" />
    <section name="ParkingPayroll" type="System.Configuration.NameValueSectionHandler" />
    <section name="PBSMacroLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="CommissionsCreate" type="System.Configuration.NameValueSectionHandler" />
    <section name="WrappersLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="ManifestLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="ManifestFreeLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="ManifestLoadAdvance" type="System.Configuration.NameValueSectionHandler" />
    <section name="PBSInvoiceExportLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="QualificationReportLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="OfficePay" type="System.Configuration.NameValueSectionHandler" />
    <section name="AutoRenew" type="System.Configuration.NameValueSectionHandler" />
    <section name="PressRoomLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="PressRoomFreeLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="PBSInvoiceTotals" type="System.Configuration.NameValueSectionHandler" />
    <section name="PBSInvoices" type="System.Configuration.NameValueSectionHandler" />
    <section name="UnzipNewscycleExportFiles" type="System.Configuration.NameValueSectionHandler" />
    <section name="DMMail" type="System.Configuration.NameValueSectionHandler" />
    <section name="PayByScanLoadWegmans" type="System.Configuration.NameValueSectionHandler" />
    <section name="PayByScanLoad711" type="System.Configuration.NameValueSectionHandler" />
    <section name="PrepackInsertLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="PBSDumpWorkload" type="System.Configuration.NameValueSectionHandler" />
    <section name="PBSDumpPopulate" type="System.Configuration.NameValueSectionHandler" />
    <section name="PBSDumpPost" type="System.Configuration.NameValueSectionHandler" />
    <section name="CircDumpWorkload" type="System.Configuration.NameValueSectionHandler" />
    <section name="CircDumpPopulate" type="System.Configuration.NameValueSectionHandler" />
    <section name="CircDumpPost" type="System.Configuration.NameValueSectionHandler" />
    <section name="SuppliesWorkload" type="System.Configuration.NameValueSectionHandler" />
    <section name="TradeWorkload" type="System.Configuration.NameValueSectionHandler" />
    <section name="SubBalanceLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="DeleteFile" type="System.Configuration.NameValueSectionHandler" />
    <section name="DeleteEmptyTMPFiles" type="System.Configuration.NameValueSectionHandler" />
    <section name="Feeds" type="System.Configuration.NameValueSectionHandler" />
    <section name="PurgeFeeds" type="System.Configuration.NameValueSectionHandler" />
    <section name="PackageAssignmentLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="AutoPrintPDF" type="System.Configuration.NameValueSectionHandler" />
    <!--<section name="ArchiveAutoRenewals" type="System.Configuration.NameValueSectionHandler" />-->
    <section name="ExecuteSQL" type="System.Configuration.NameValueSectionHandler" />
    <section name="SBSReportsLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="SaxoXMLLoad" type="System.Configuration.NameValueSectionHandler" />
    <section name="TradeAutoEmail" type="System.Configuration.NameValueSectionHandler" />
    <section name="TestJob" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="bsjobutility" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=BSJobUtility; user id=SQLJobLogs; password=$$qLj0bL0g$;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="parking" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Parking; user id=ParkingPayroll; password=fr0mPayr0ll;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="sbsreports" connectionString="Data Source=Omaha\BSSQLPAY1; Initial Catalog=SBSReports; user id=ParkingPayroll; password=fr0mPayr0ll;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="pbs2macro" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PBS2Macro; user id=PBS2MacroLoad; password=macrofiche;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="commissions" connectionString="Data Source=BWDB\BW; Initial Catalog=Commissions; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="buffnewsforbw" connectionString="Data Source=BWDB\BW; Initial Catalog=BuffNewsForBW; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="brainworks" connectionString="Data Source=BWDB\BW; Initial Catalog=Brainworks; user id=Feeds; password=BWf33ds;Connect Timeout=240;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="brainworks_work" connectionString="Data Source=BWDB\BW; Initial Catalog=Brainworks_Work; user id=BSExecuteSQL; password=R)nS@L;Connect Timeout=240;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="commissionsrelated" connectionString="Data Source=BWDB\BW; Initial Catalog=CommissionsRelated; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="barc" connectionString="Data Source=BWDB\BW; Initial Catalog=BARC; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="wrappers" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Wrappers; user id=WrappersLoad; password=fromPBS;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="manifests" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Manifests; user id=ManifestsLoad; password=formanifests;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="manifestsfree" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=ManifestsFree; user id=ManifestsLoad; password=formanifests;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="pbsinvoiceexport" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PBSInvoiceExport; user id=PBSInvoiceExportLoad; password=1nv01c3S;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="qualificationreport" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=QualificationReport; user id=QualificationReportLoad; password=USPSrep0rt;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="officepay" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=OfficePay; user id=OfficePayLoad; password=alsoknownasPBM;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="autorenew" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=AutoRenew; user id=AutoRenewLoad; password=password4App;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="pressroom" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PressRoom; user id=PressRoomLoad; password=prod_Totals;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="pressroomfree" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PressRoomFree; user id=PressRoomLoad; password=prod_Totals;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="pbsinvoicetotals" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PBSInvoiceTotals; user id=PBSInvoiceTotalsLoad; password=t0T*1s;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="pbsinvoices" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PBSInvoices; user id=PBSInvLoad; password=load_pbs;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="dmmail" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=DMMail; user id=DMMailLoad; password=PBS_export;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="paybyscan" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PayByScan; user id=PayByScanLoad; password=scan2Pay;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="prepackinserts" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PrepackInserts; user id=PrepackInsertsLoad; password=Scr@p3rT0DB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="circdumpwork_load" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=CircDump_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="circdumpwork_populate" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=CircDump_Work; user id=PBSDumpPopulate; password=1nt0Dump;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="circdumpwork_post" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=CircDump_Work; user id=PBSDumpPost; password=Numb3r2;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="pbsdumpawork_load" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDumpA_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="pbsdumpawork_populate" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDumpA_Work; user id=PBSDumpPopulate; password=1nt0Dump;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <!--this was copied to avoid permission issues on deployment-->
    <add name="pbsdumpawork_post" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDumpA_Work; user id=PBSDumpPost; password=Numb3r2;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="pbsdumpbwork" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDumpB_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="pbsdumpcwork" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDumpC_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="supplieswork" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Supplies_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="pbsdump" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDump; user id=PBSDumpPost; password=Numb3r2;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="bntransactions" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=BNTransactions; user id=PBSDumpPost; password=Numb3r2;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="tradework" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Trade_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="subbalancework" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=SubBalanceWork; user id=SubBalanceLoad; password=r3plac3sDTS;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="feeds" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Feeds; user id=Feeds; password=BWf33ds;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="autoprintpdf" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=AutoPrintPDF; user id=AutoPrintPDF; password=S3nd2PDF;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="pbsgeneral" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PBSGeneral; user id=AutoPrintPDF; password=S3nd2PDF;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="bsconsole" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=BSConsole; user id=BSExecuteSQL; password=R)nS@L;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="mailtops" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=MailTops; user id=BSExecuteSQL; password=R)nS@L;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="newshole" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Newshole; user id=BSExecuteSQL; password=R)nS@L;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="officepayarchived" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=OfficePay_Archived; user id=BSExecuteSQL; password=R)nS@L;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="palletizers" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Palletizers; user id=BSExecuteSQL; password=R)nS@L;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="postings" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Postings; user id=BSExecuteSQL; password=R)nS@L;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="preprints" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Preprints; user id=BSExecuteSQL; password=R)nS@L;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="touchcontrol" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=TouchControl; user id=BSExecuteSQL; password=R)nS@L;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
    <add name="trade" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Trade; user id=BSExecuteSQL; password=R)nS@L;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <BSJobUtilitySection>
    <add key="MailHost" value="172.24.172.146" />
    <add key="DefaultSender" value="bs_sql@buffnews.com" />
    <add key="DefaultRecipient" value="bsconsole-support@buffnews.com" />
    <add key="DefaultSQLCommandTimeout" value="500" />
    <add key="FtpSftpServerResponseTimeoutInSeconds" value="30" />
    <add key="LogEmptyRuns" value="false" />
    <add key="IsTestVersion" value="false" />
  </BSJobUtilitySection>
  <ParkingPayroll>
    <add key="RemoteServerInstance" value="Omaha\BSSQLPAY1" />
    <add key="RemoteDatabaseName" value="SBSReports" />
    <add key="RemoteUserName" value="ParkingPayroll" />
    <add key="RemotePassword" value="fr0mPayr0ll" />
  </ParkingPayroll>
  <PBSMacroLoad>
    <add key="SourceDirectory" value="\\circfs\spoolcm\normal\" />
    <add key="DestinationDirectory" value="\\Synergy\SERops\To Be Loaded\PBS ASCII\" />
    <add key="SleepTimeout" value="4" />
    <add key="SuccessEmail" value="compoper@buffnews.com" />
  </PBSMacroLoad>
  <CommissionsCreate>
    <add key="AttachmentDirectory" value="\\Omaha\Commissions$\" />
    <add key="CommissionsRelatedServerName" value="BWDB\BW" />
    <add key="CommissionsRelatedDatabaseName" value="CommissionsRelated" />
    <add key="CommissionsRelatedUserName" value="CommissionsCreate" />
    <add key="CommissionsRelatedPassword" value="&lt;Cr#@t0rUs3r&gt;" />
    <add key="BrainworksServerName" value="BWDB\BW" />
    <add key="BrainworksDatabaseName" value="Brainworks" />
    <add key="BuffNewsForBWServerName" value="BWDB\BW" />
    <add key="BuffNewsForBWDatabaseName" value="BuffNewsForBW" />
  </CommissionsCreate>
  <WrappersLoad>
    <add key="InputDirectory" value="\\circfs\spoolcm\normal\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\Wrappers\" />
    <add key="SuccessEmail" value="compoper@buffnews.com" />
  </WrappersLoad>
  <ManifestLoad>
    <add key="InputDirectory" value="\\circfs\exchangecm\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\Manifests\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="ManifestsLoad" />
    <add key="RemotePassword" value="formanifests" />
    <add key="DefaultRecipient" value="compoper@buffnews.com" />
    <add key="SleepTimeout" value="4" />
  </ManifestLoad>
  <ManifestFreeLoad>
    <add key="InputDirectory" value="\\circfs\exchangecm\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\ManifestsFree\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="ManifestsLoad" />
    <add key="RemotePassword" value="formanifests" />
    <add key="DefaultRecipient" value="compoper@buffnews.com" />
    <add key="SleepTimeout" value="4" />
  </ManifestFreeLoad>
  <ManifestLoadAdvance>
    <add key="InputDirectory" value="\\circfs\exchangecm\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\Manifests\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="ManifestsLoad" />
    <add key="RemotePassword" value="formanifests" />
    <add key="DefaultRecipient" value="compoper@buffnews.com" />
    <add key="SleepTimeout" value="4" />
  </ManifestLoadAdvance>
  <PBSInvoiceExportLoad>
    <add key="InputDirectory" value="\\circfs\exchangecm\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\PBSInvoiceExportLoad\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="PBSInvoiceExportLoad" />
    <add key="RemotePassword" value="1nv01c3S" />
    <add key="SleepTimeout" value="4" />
  </PBSInvoiceExportLoad>
  <QualificationReportLoad>
    <add key="InputDirectory" value="\\circfs\spoolcm\normal\" />
    <add key="BackupDirectory" value="\\omaha\LoadedData\QualificationReport\" />
    <add key="SuccessEmail" value="compoper@buffnews.com" />
  </QualificationReportLoad>
  <OfficePay>
    <add key="InputDirectory" value="\\circfs\exchangecm\" />
    <add key="BackupDirectory" value="\\omaha\LoadedData\OfficePay\" />
    <add key="SleepTimeout" value="4" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="OfficePayLoad" />
    <add key="RemotePassword" value="alsoknownasPBM" />
    <add key="SuccessEmail" value="compoper@buffnews.com" />
  </OfficePay>
  <AutoRenew>
    <add key="InputDirectory" value="\\circfs\exchangecmsecure\" />
    <add key="BackupDirectory" value="\\omaha\LoadedData\AutoRenewLoad\" />
    <add key="SleepTimeout" value="4" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="AutoRenewLoad" />
    <add key="RemotePassword" value="password4App" />
    <add key="SuccessEmail" value="compoper@buffnews.com" />
  </AutoRenew>
  <PressRoomLoad>
    <add key="InputDirectory" value="\\circfs\spoolcm\normal\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\PressRoom\" />
    <add key="SleepTimeout" value="4" />
    <add key="SuccessEmail" value="compoper@buffnews.com" />
  </PressRoomLoad>
  <PressRoomFreeLoad>
    <add key="InputDirectory" value="\\circfs\spoolcm\normal\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\PressRoomFree\" />
    <add key="SleepTimeout" value="4" />
    <add key="SuccessEmail" value="compoper@buffnews.com" />
  </PressRoomFreeLoad>
  <PBSInvoiceTotals>
    <add key="InputDirectory" value="\\circfs\spoolcm\normal\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\PBSInvoiceTotals\" />
    <add key="SleepTimeout" value="4" />
  </PBSInvoiceTotals>
  <PBSInvoices>
    <add key="InputDirectory" value="\\circfs\spoolcm\normal\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\PBSInvoices\" />
    <add key="OutputDirectory" value="\\Synergy\SERops\To Be Loaded\PBS ASCII\" />
    <add key="WorkDirectory1" value="\\Synergy\SERops\Work\" />
    <add key="WorkDirectory2" value="\\Omaha\LoadedData\PBSInvoices\Converted\" />
    <add key="SleepTimeout" value="4" />
    <add key="SuccessEmail" value="compoper@buffnews.com" />
  </PBSInvoices>
  <UnzipNewscycleExportFiles>
    <add key="sourcefolder" value="\\circfs\backup\" />
    <add key="compressedfileextension" value="zip" />
  </UnzipNewscycleExportFiles>
  <DMMail>
    <add key="InputDirectory" value="\\circfs\exchangecmro\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\DMMail\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="OfficePayLoad" />
    <add key="RemotePassword" value="alsoknownasPBM" />
    <add key="SleepTimeout" value="4" />
    <add key="SuccessEmail" value="compoper@buffnews.com" />
  </DMMail>
  <PayByScanLoadWegmans>
    <add key="InputDirectory" value="\\Omaha\PayByScanWegmans\" />
    <add key="BackupDirectory" value="\\Omaha\PayByScanWegmans\Loaded\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSInvoiceExport" />
    <add key="RemoteUserName" value="PayByScanLoad" />
    <add key="RemotePassword" value="scan2Pay" />
    <add key="SleepTimeout" value="4" />
  </PayByScanLoadWegmans>
  <PayByScanLoad711>
    <add key="InputDirectory" value="\\ftp\NexxusFrom\7-11\FromNexxus\" />
    <add key="BackupDirectory" value="\\Omaha\PayByScanSevenEleven\Loaded\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSInvoiceExport" />
    <add key="RemoteUserName" value="PayByScanLoad" />
    <add key="RemotePassword" value="scan2Pay" />
    <add key="SleepTimeout" value="4" />
  </PayByScanLoad711>
  <PrepackInsertLoad>
    <add key="InputDirectory" value="\\circfs\spoolimro\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\PrepackInserts\" />
    <add key="SleepTimeout" value="4" />
  </PrepackInsertLoad>
  <PBSDumpWorkload>
    <!--test settings-->
    <!--<add key="TouchFileDirectory" value="C:\TEMP\PBSDump{0}\pbsdump{0}\PBSDump{0}Touch\touch\" />
    <add key="InputDirectory" value="C:\TEMP\PBSDump{0}\pbsdump{0}\data\" />-->

    <add key="TouchFileDirectory" value="\\circfs\backup\pbsdump{0}\touch\" />
    <add key="InputDirectory" value="\\circfs\backup\pbsdump{0}\data\" />
    <add key="OutputDirectory" value="\\Omaha\BulkInsertFromCirc\" />
    <add key="DeleteFlag" value="True" />
    <add key="Abbreviation" value="PBSDump{0}WorkLoad" />
    <add key="SleepTimeout" value="4" />
  </PBSDumpWorkload>
  <PBSDumpPopulate>
    <add key="TableTouchDirectory" value="\\Omaha\DumpTouch\PBSDump{0}\Table\" />
  </PBSDumpPopulate>
  <PBSDumpPost>
    <add key="TableTouchDirectory" value="\\Omaha\DumpTouch\PBSDump{0}\Table\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLDUMP1" />
    <add key="RemoteDatabaseName" value="PBSDump" />
    <add key="RemoteUserName" value="PBSDumpPost" />
    <add key="RemotePassword" value="Numb3r2" />
  </PBSDumpPost>
  <CircDumpWorkload>
    <add key="TouchFileDirectory" value="\\circfs\backup\circdump\touch\" />
    <add key="InputDirectory" value="\\circfs\backup\circdump\data\" />
    <add key="OutputDirectory" value="\\Omaha\BulkInsertFromCirc\" />
    <add key="DeleteFlag" value="True" />
    <add key="Abbreviation" value="CircDump_Work_Load_" />
    <add key="SleepTimeout" value="4" />
  </CircDumpWorkload>
  <CircDumpPopulate>
    <add key="TableTouchDirectory" value="\\Omaha\DumpTouch\CircDump\Table\" />
  </CircDumpPopulate>
  <CircDumpPost>
    <add key="RemoteServerInstance" value="Omaha\BSSQLDUMP1" />
    <add key="RemoteDatabaseName" value="PBSDump" />
    <add key="RemoteUserName" value="PBSDumpPost" />
    <add key="RemotePassword" value="Numb3r2" />
    <add key="TableTouchDirectory" value="\\Omaha\DumpTouch\CircDump\Table\" />
  </CircDumpPost>
  <SuppliesWorkload>
    <!--test settings-->
    <!--<add key="TouchFileDirectory" value="C:\TEMP\SuppliesDump\suppliesdumpcron\SuppliesDumpTouch\touch\" />
    <add key="InputDirectory" value="C:\TEMP\SuppliesDump\suppliesdumpcron\data\1\" />-->

    <add key="TouchFileDirectory" value="\\circfs\backup\suppliesdumpcron\touch\" />
    <add key="InputDirectory" value="\\circfs\backup\suppliesdumpcron\data\1\" />
    <add key="OutputDirectory" value="\\Omaha\BulkInsertFromCirc\" />
    <add key="DeleteFlag" value="True" />
    <add key="Abbreviation" value="Supplies_Work_Load" />
    <add key="SleepTimeout" value="4" />
  </SuppliesWorkload>
  <TradeWorkload>
    <!--test settings-->
    <!--<add key="TouchFileDirectory" value="C:\TEMP\TradeDump\tradedumpcron\TradeDumpTouch\touch\" />
    <add key="InputDirectory" value="C:\TEMP\TradeDump\tradedumpcron\data\1\" />-->

    <add key="TouchFileDirectory" value="\\circfs\backup\tradedumpcron\touch\" />
    <add key="InputDirectory" value="\\circfs\backup\tradedumpcron\data\1\" />
    <add key="OutputDirectory" value="\\Omaha\BulkInsertFromCirc\" />
    <add key="DeleteFlag" value="True" />
    <add key="Abbreviation" value="Trade_Work_Load" />
    <add key="SleepTimeout" value="4" />
  </TradeWorkload>
  <SubBalanceLoad>
    <add key="InputDirectory" value="\\circfs\exchangecm\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\SubBalanceLoad\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLDUMP1" />
    <add key="RemoteDatabaseName" value="SubBalanceWork" />
    <add key="RemoteUserName" value="SubBalanceLoad" />
    <add key="RemotePassword" value="r3plac3sDTS" />
    <add key="PBSServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="PBSDatabaseName" value="PBSGeneral" />
    <add key="PBSUserName" value="SubBalanceLoad" />
    <add key="PBSPassword" value="r3plac3sDTS" />
    <add key="SleepTimeout" value="4" />
  </SubBalanceLoad>
  <DeleteFile>
    <!--add config values here-->
  </DeleteFile>
  <DeleteEmptyTMPFiles>
    <add key="InputDirectories" value="\\Omaha\BSDevelopment, \\Omaha\BSProd, \\Omaha\BSSource, \\Omaha\C$, \\Omaha\ISSource, \\Synergy\C$" />
  </DeleteEmptyTMPFiles>
  <Feeds>
    <add key="RemoteServerName" value="BWDB\BW" />
    <add key="RemoteDatabaseName" value="Brainworks" />
    <add key="RemoteUserName" value="Feeds" />
    <add key="RemotePassword" value="BWf33ds" />
    <add key="PBSDumpBServerName" value="Omaha\BSSQLDump1" />
    <add key="PBSDumpBDatabaseName" value="PBSDumpB" />
    <add key="UserSID" value="S-1-5-21-120139959-531444630-1543857936-9490" />
    <add key="PutSleepTime" value="1000" />
  </Feeds>
  <PurgeFeeds>
    <!--add config values here-->
  </PurgeFeeds>
  <PackageAssignmentLoad>
    <add key="InputDirectory" value="\\circfs\spoolimro\normal\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\PackageAssignment\" />
    <add key="SleepTimeout" value="4" />
    <add key="SuccessEmail" value="compoper@buffnews.com" />
  </PackageAssignmentLoad>
  <AutoPrintPDF>
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="AutoPrintPDF" />
    <add key="RemotePassword" value="S3nd2PDF" />
    <add key="SleepTimeout" value="4" />
    <add key="WorkDirectory" value="\\Omaha\AutoPrintPDF_" />
    <add key="CopyDirectory" value="\\circfs\cmpdf\" />
    <add key="PBSInvoiceDirectory" value="\\Omaha\BSPDF_PBSInvoices\" />
    <add key="PBSInvoicesByCarrierIdDirectory" value="\\Omaha\BSPDF_PBSInvoices_By_CarrierID\" />
  </AutoPrintPDF>
  <!--<ArchiveAutoRenewals>
    <add key="HostName" value="circweb" />
    <add key="UserName" value="ec2-user" />
    <add key="Password" value="" />
    <add key="SFTPPath" value="/var/www/services.buffalonews.com/renewals/" />
    <add key="CircPath" value="\\circfs\cmpdf\" />
    <add key="InputMask" value="*.INVOICE.pdf" />
    <add key="FingerPrint" value="ssh-rsa 2048 BQDcvYxTO7k+vNFGx3NZ3sJfwNop3YKul3YQH+wx8q0=" />
    <add key="KeyFilePath" value="\\omaha\BSProd\BS\SFTPKeys\Newscycle-PuTTY Private Key.ppk" />
    <add key="KeyFilePassword" value="" />
  </ArchiveAutoRenewals> -->
  <ExecuteSQL>
    <add key="BrainworksServer" value="BWDB\BW" />
    <add key="BrainworksDatabase" value="Brainworks" />
    <add key="BrainworksUserName" value="BSExecuteSQL" />
    <add key="BrainworksPassword" value="R)nS@L" />
  </ExecuteSQL>
  <SBSReportsLoad>
    <add key="InputDirectory" value="\\omaha\sbs_transfers\" />
    <add key="RemoteServerName" value="Omaha\BSSQLPAY1" />
    <add key="RemoteDatabaseName" value="SBSReports" />
    <add key="RemoteUserName" value="ParkingPayroll" />
    <add key="RemotePassword" value="fr0mPayr0ll" />
  </SBSReportsLoad>
  <SaxoXMLLoad>
    <add key="InputDirectory" value="\\Omaha\SaxodataProcessed\Documents\" />
    <add key="OutputDirectory" value="\\Omaha\SaxodataProcessed\Loaded\" />
    <add key="RemoteServerName" value="BWDB\BW" />
    <add key="RemoteDatabaseName" value="Brainworks" />
    <add key="RemoteUserName" value="SaxoXML_Load" />
    <add key="RemotePassword" value="87.aMr-pWd" />
    <add key="SleepTimeout" value="4" />
  </SaxoXMLLoad>
  <TradeAutoEmail>
    <!--add config values here-->
  </TradeAutoEmail>
  <TestJob>
    <add key="SuccessEmail" value="bsconsole-support@buffnews.com" />
  </TestJob>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
