<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BSJobUtilitySection" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ParkingPayroll" type="System.Configuration.NameValueSectionHandler"/>
    <section name="PBSMacroLoad" type="System.Configuration.NameValueSectionHandler"/>
    <section name="CommissionsCreate" type="System.Configuration.NameValueSectionHandler"/>
    <section name="WrappersLoad" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ManifestLoad" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ManifestLoadAdvance" type="System.Configuration.NameValueSectionHandler"/>
    <section name="PBSInvoiceExportLoad" type="System.Configuration.NameValueSectionHandler"/>
    <section name="QualificationReportLoad" type="System.Configuration.NameValueSectionHandler"/>
    <section name="OfficePay" type="System.Configuration.NameValueSectionHandler"/>
    <section name="AutoRenew" type="System.Configuration.NameValueSectionHandler"/>
    <section name="PressRoomLoad" type="System.Configuration.NameValueSectionHandler"/>
    <section name="PressRoomFreeLoad" type="System.Configuration.NameValueSectionHandler"/>
    <section name="PBSInvoiceTotals" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="eventlogs" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=SQLJobLogs; user id=SQLJobLogs; password=$$qLj0bL0g$;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="parking" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Parking; user id=ParkingPayroll; password=fr0mPayr0ll;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="sbsreports" connectionString="Data Source=Omaha\BSSQLPAY1; Initial Catalog=SBSReports; user id=ParkingPayroll; password=fr0mPayr0ll;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="pbs2macro" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PBS2Macro; user id=PBS2MacroLoad; password=macrofiche;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="commissions" connectionString="Data Source=BWDB\BW; Initial Catalog=Commissions_Test; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="buffnewsforbw" connectionString="Data Source=BWDB\BW; Initial Catalog=BuffNewsForBW; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="brainworks" connectionString="Data Source=BWDB\BW; Initial Catalog=Brainworks; user id=PBS2MacroLoad; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="commissionsrelated" connectionString="Data Source=BWDB\BW; Initial Catalog=CommissionsRelated_Test; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="barc" connectionString="Data Source=BWDB\BW; Initial Catalog=BARC; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="wrappers" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Wrappers; user id=WrappersLoad; password=fromPBS;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="manifests" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=Manifests; user id=ManifestsLoad; password=formanifests;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="pbsinvoiceexport" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PBSInvoiceExport; user id=PBSInvoiceExportLoad; password=1nv01c3S;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="qualificationreport" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=QualificationReport; user id=QualificationReportLoad; password=USPSrep0rt;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="officepay" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=OfficePay; user id=OfficePayLoad; password=alsoknownasPBM;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="autorenew" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=AutoRenew; user id=AutoRenewLoad; password=password4App;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="pressroom" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PressRoom; user id=PressRoomLoad; password=prod_Totals;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="pressroomfree" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PressRoomFree; user id=PressRoomLoad; password=prod_Totals;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="pbsinvoicetotals" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=PBSInvoiceTotals; user id=PBSInvoiceTotals; password=1nv*Ice;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <BSJobUtilitySection>
    <add key="MailHost" value="172.24.172.146"/>
    <add key="DefaultSender" value="bs_sql@buffnews.com"/>
    <add key="DefaultRecipient" value="bsconsole-support@buffnews.com"/>
    <add key="DefaultSQLCommandTimeout" value="500"/>
    <add key="FtpSftpServerResponseTimeoutInSeconds" value="30"/>
  </BSJobUtilitySection>
  <ParkingPayroll>
    <add key="RemoteServerInstance" value="Omaha\BSSQLPAY1" />
    <add key="RemoteDatabaseName" value="SBSReports" />
    <add key="RemoteUserName" value="ParkingPayroll" />
    <add key="RemotePassword" value="fr0mPayr0ll" />
  </ParkingPayroll>
  <PBSMacroLoad>
    <add key="SourceDirectory" value="\\circ\spoolcmro\" />
    <add key="DestinationDirectory" value="\\Synergy\SERops\To Be Loaded\PBS ASCII\" />
    <add key="SleepTimeout" value="4" />
  </PBSMacroLoad>
  <CommissionsCreate>
    <add key="AttachmentDirectory" value="\\Omaha\Commissions$\" />
    <add key="CommissionsRelatedServerName" value="BWDB\BW" />
    <add key="CommissionsRelatedDatabaseName" value="CommissionsRelated" />
    <add key="CommissionsRelatedUserName" value="CommissionsCreate" />
    <add key="CommissionsRelatedPassword" value="&lt;Cr#@t0rUs3r&gt;" />
    <add key="BrainworksServerName" value="BWDB\BW" />
    <add key="BrainworksDatabaseName" value="Brainworks" />
    <add key="BuffNewsForBWServerName" value="BWDB\BW" />
    <add key="BuffNewsForBWDatabaseName" value="BuffNewsForBW" />
  </CommissionsCreate>
  <WrappersLoad>
    <add key="InputDirectory" value="\\circ\spoolcmro\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\Wrappers\" />
  </WrappersLoad>
  <ManifestLoad>
    <add key="InputDirectory" value="\\circ\exchangecmro\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\Manifests\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="ManifestsLoad" />
    <add key="RemotePassword" value="formanifests" />
    <add key="DefaultRecipient" value="compoper@buffnews.com"/>
  </ManifestLoad>
  <ManifestLoadAdvance>
    <add key="InputDirectory" value="\\circ\exchangecmro\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\Manifests\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="ManifestsLoad" />
    <add key="RemotePassword" value="formanifests" />
    <add key="DefaultRecipient" value="compoper@buffnews.com"/>
  </ManifestLoadAdvance>
  <PBSInvoiceExportLoad>
    <add key="InputDirectory" value="\\circ\exchangecmro\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\PBSInvoiceExportLoad\" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="PBSInvoiceExportLoad" />
    <add key="RemotePassword" value="1nv01c3S" />
    <add key="SleepTimeout" value="4" />
  </PBSInvoiceExportLoad>
  <QualificationReportLoad>
    <add key="InputDirectory" value="\\172.24.172.132\spoolcmro\" />
    <add key="BackupDirectory" value="\\omaha\LoadedData\QualificationReport\" />
  </QualificationReportLoad>
  <OfficePay>
    <add key="InputDirectory" value="\\circ\exchangecmro\" />
    <add key="BackupDirectory" value="\\omaha\LoadedData\OfficePay\" />
    <add key="SleepTimeout" value="4" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="OfficePayLoad" />
    <add key="RemotePassword" value="alsoknownasPBM" />
  </OfficePay>
  <AutoRenew>
    <add key="InputDirectory" value="\\172.24.172.132\exchangecmsecurero\" />
    <add key="BackupDirectory" value="\\omaha\LoadedData\AutoRenewLoad\" />
    <add key="SleepTimeout" value="4" />
    <add key="RemoteServerInstance" value="Omaha\BSSQLPROD1" />
    <add key="RemoteDatabaseName" value="PBSGeneral" />
    <add key="RemoteUserName" value="AutoRenewLoad" />
    <add key="RemotePassword" value="password4App" />
  </AutoRenew>
  <PressRoomLoad>
    <add key="InputDirectory" value="\\172.24.172.132\spoolcmro\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\PressRoom\" />
    <add key="SleepTimeout" value="4" />
  </PressRoomLoad>
  <PressRoomFreeLoad>
    <add key="InputDirectory" value="\\circ\spoolcmro\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\PressRoomFree\" />
    <add key="SleepTimeout" value="4" />
  </PressRoomFreeLoad>
  <PBSInvoiceTotals>
    <add key="InputDirectory" value="\\circ\spoolcmro\" />
    <add key="BackupDirectory" value="\\Omaha\LoadedData\PBSInvoiceTotals\" />
    <add key="SleepTimeout" value="4" />
  </PBSInvoiceTotals>
</configuration>
