<connectionStrings>
  <add name="bsjobutility" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=BSJobUtility; user id=SQLJobLogs; password=$$qLj0bL0g$;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="parking" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=Parking; user id=ParkingPayroll; password=fr0mPayr0ll;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="sbsreports" connectionString="Data Source=Omaha\BSSQLPAY1; Initial Catalog=SBSReports; user id=ParkingPayroll; password=fr0mPayr0ll;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="pbs2macro" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=PBS2Macro; user id=PBS2MacroLoad; password=macrofiche;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="commissions" connectionString="Data Source=BWDB\BW; Initial Catalog=Commissions_Test; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="buffnewsforbw" connectionString="Data Source=BWDB\BW; Initial Catalog=BuffNewsForBW; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="brainworks" connectionString="Data Source=BWDB\BW; Initial Catalog=Brainworks; user id=Feeds; password=BWf33ds;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="commissionsrelated" connectionString="Data Source=BWDB\BW; Initial Catalog=CommissionsRelated_Test; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="barc" connectionString="Data Source=BWDB\BW; Initial Catalog=BARC; user id=CommissionsCreate; password=&lt;Cr#@t0rUs3r&gt;;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="wrappers" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=Wrappers; user id=WrappersLoad; password=fromPBS;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="manifests" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=Manifests; user id=ManifestsLoad; password=formanifests;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="manifestsfree" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=ManifestsFree; user id=ManifestsLoad; password=formanifests;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="pbsinvoiceexport" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=PBSInvoiceExport; user id=PBSInvoiceExportLoad; password=1nv01c3S;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="qualificationreport" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=QualificationReport; user id=QualificationReportLoad; password=USPSrep0rt;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="officepay" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=OfficePay; user id=OfficePayLoad; password=alsoknownasPBM;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="autorenew" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=AutoRenew; user id=AutoRenewLoad; password=password4App;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="pressroom" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=PressRoom; user id=PressRoomLoad; password=prod_Totals;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="pressroomfree" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=PressRoomFree; user id=PressRoomLoad; password=prod_Totals;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="pbsinvoicetotals" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=PBSInvoiceTotals; user id=PBSInvoiceTotalsLoad; password=t0T*1s;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="pbsinvoices" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=PBSInvoices; user id=PBSInvLoad; password=load_pbs;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="dmmail" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=DMMail; user id=DMMailLoad; password=PBS_export;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="paybyscan" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=PayByScan; user id=PayByScanLoad; password=scan2Pay;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="prepackinserts" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=PrepackInserts; user id=PrepackInsertsLoad; password=Scr@p3rT0DB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="circdumpwork_load" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=CircDump_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="circdumpwork_populate" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=CircDump_Work; user id=PBSDumpPopulate; password=1nt0Dump;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="circdumpwork_post" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=CircDump_Work; user id=PBSDumpPost; password=Numb3r2;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="pbsdumpawork_load" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDumpA_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="pbsdumpawork_populate" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDumpA_Work; user id=PBSDumpPopulate; password=1nt0Dump;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <!--this was copied to avoid permission issues on deployment-->
  <add name="pbsdumpawork_post" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDumpA_Work; user id=PBSDumpPost; password=Numb3r2;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="pbsdumpbwork" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDumpB_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="pbsdumpcwork" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDumpC_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="supplieswork" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=Supplies_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="pbsdump" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=PBSDump; user id=PBSDumpPost; password=Numb3r2;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="bntransactions" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=BNTransactions; user id=PBSDumpPost; password=Numb3r2;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="tradework" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=Trade_Work; user id=PBSDumpWorkLoad; password=2w0RkDB;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="subbalancework" connectionString="Data Source=Omaha\BSSQLDUMP1; Initial Catalog=SubBalanceWork; user id=SubBalanceLoad; password=r3plac3sDTS;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  <add name="feeds" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=Feeds; user id=Feeds; password=BWf33ds;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
</connectionStrings>