<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Commissions.DAL.Properties.Settings.CommissionsConnectionString"
            connectionString="Data Source=BWDB\BW;Initial Catalog=Commissions;User ID=CommissionsCreate;Password=&lt;Cr#@t0rUs3r&gt;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>