<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="Purchasing" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    <connectionStrings>
      <add name="bsjobutility" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=BSJobUtility; user id=SQLJobLogs; password=$$qLj0bL0g$;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
      <add name="purchasing" connectionString="Data Source=Omaha\BSSQLTEST1; Initial Catalog=Purchasing; Trusted_Connection = True;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <Purchasing>
        <add key="LookbackInYears" value="5"/>
    </Purchasing>
</configuration>
