<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="AppStatusMonitor" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    <connectionStrings>
      <add name="eventlogs" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=BSJobUtility; user id=SQLJobLogs; password=$$qLj0bL0g$;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <AppStatusMonitor>
        <add key="LookbackInDays" value="90"/>
        <add key="UpdateIntervalInSecs" value="10"/>
        <add key="NumActivitiesPerMonitor" value="20"/>
    </AppStatusMonitor>
</configuration>