<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SBSJournalEntryImport" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="eventlogs" connectionString="Data Source=Omaha\BSSQLPROD1; Initial Catalog=BSJobUtility; user id=SQLJobLogs; password=$$qLj0bL0g$;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
    <add name="SBSJournalEntryImport" connectionString="Data Source=Omaha\BSSQLPay1; Initial Catalog=SBSJournalEntries; Trusted_Connection = True;Connect Timeout=90;TransparentNetworkIPResolution=False;ConnectRetryCount=3" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <SBSJournalEntryImport>
    <add key="WorkingFolder" value="\\Omaha\BSProd\BSJobUtility\SBSJournalEntryImport\Work\"/>
  </SBSJournalEntryImport>
</configuration>